@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
          font-family: 'bold';
          font-style: normal;
          font-weight: 400;
          font-display: "cabrion";
          src: url(/font-cabrionfont/Cabrion-Bold.ttf) format('truetype');
    }
}

@layer base {
    @font-face {
          font-family: 'semi-bold';
          font-style: normal;
          font-weight: 400;
          font-display: "cabrion";
          src: url(/font-cabrionfont/Cabrion-SemiBold.ttf) format('truetype');
    }
}

@layer base {
    @font-face {
          font-family: 'normal';
          font-style: normal;
          font-weight: 400;
          font-display: "cabrion";
          src: url(/font-cabrionfont/Cabrion-Regular.ttf) format('truetype');
    }
}

